body {
                margin: 20px 0px 0px 300px;
                background-color: rgb(27, 27, 27);
                }
                
div {
                border-left: 3px solid rgb(0, 255, 0);
                border-top: 3px solid rgb(0, 255, 0); 
                padding-left: 50px;
                padding-top: 0px;
                margin: 0px 0px 0px 0px;
                top: 0px;
                }
                
@media screen 
and (min-width: 230px) {
body {
                    margin: 5px 0px 0px 14px;
                    background-color: rgb(27, 27, 27);
                    }
div {
                    padding-left: 20px
                }                 
                
@media screen 
and (min-width: 400px) {
body {
                    margin: 15px 0px 0px 45px;
                    background-color: rgb(27, 27, 27);
                    }
                }                 
                
@media screen 
and (min-width: 520px) {
body {
                    margin: 15px 0px 0px 75px;
                    background-color: rgb(27, 27, 27);
                    }
                }                 

@media screen 
and (min-width: 680px) {
body {
                    margin: 15px 0px 0px 150px;
                    background-color: rgb(27, 27, 27);
                    }
                }                        
    
@media screen 
and (min-width: 780px) {
body {
                    margin: 15px 0px 0px 150px;
                    background-color: rgb(27, 27, 27);
                    }
                }     
    
@media screen 
and (min-width: 880px) {
body {
                    margin: 15px 0px 0px 240px;
                    background-color: rgb(27, 27, 27);
                    }
                } 




























          
                
                
                
     
